@import '../../custom.scss';
.selector-title{
    position: absolute;
}
.selector-content{
    width: 600px;
    margin-left: 220px;
}
.selector-border{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    line-height: 110px;
}