@import '../../custom.scss';
@import "~taro-ui/dist/style/components/icon.scss";
.closeButton{
    position: absolute;
    display: inline-block;
    color: black;
    border: 1px solid white;
    margin-left: -48px;
    font-size: 48px;
}