@import "../../custom.scss";
.width-400{
    width: 675px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    height: 900px;
}
// .hidden{
//     display: none;
// }
.margin-left-px100{
    margin-left: -100px;
}
.hidden{
    overflow: hidden;
}
.submit_button{
    width: 650px;
    margin:50px auto 10px auto;
}
.imagePicker{
    width: 600px;
    // padding: 0 10px 0 10px;
    margin-right: auto;
    margin-left: auto;
}